/* form {
    margin: 0 30% 0 30%;
} */

html,
body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: middle;
    background: royalblue;
}

/* #background {
    z-index: -1;
    display: inline;
} */
/* #page-container {
    background: url("../../../public/images/beach-children-family.jpg");
    background-size: 1600px 800px;
    background-position-x: 0;
    background-position-y: 0;
} */

#login-page {
    width: 500px;
   /* background-color: white;
   padding: 30px; */
}

.card {
     position: absolute;
     left: 50%;
     top: 50%;
     -moz-transform: translate(-50%, -50%);
     -webkit-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     -o-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
}